@reboot sleep 60 && /home/pi/green_box/CRON/vpn_connect.sh
@reboot sleep 3m && /home/pi/green_box/main.sh
10 9-23 * * * /home/pi/green_box/CRON/sync_logs.sh
10 9-23 * * * /home/pi/green_box/CRON/sync_data.sh
#*/2 * * * * /home/pi/green_box/vpn_connect.sh
#*/5 * * * * /home/pi/green_box/crontest.sh

